<app-menu></app-menu>

<router-outlet></router-outlet>

<!-- <div class="text-layout">
  <h1>Oi</h1>
</div>


<button pButton type="button" label="Click" class="p-button-help" icon="pi pi-apple" iconPos="right"></button>

<p-card
  [header]="nombre | titlecase"
  subheader="Esto es un subheader"
>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Rem, veritatis quibusdam. Explicabo, totam accusantium! Est sapiente ratione quam, eveniet reprehenderit aspernatur ipsa beatae at tempora sed aperiam ea voluptas consequuntur.
</p-card> -->

